{
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@workspace/(.*)$", "^(src|generated)/(.*)$", "^[./]"],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-prisma",
    "prettier-plugin-packagejson",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
