{
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-prisma", "prettier-package-json"]
}
